@model IEnumerable<MVC_APP.Models.CoffeeBar>

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td>
            <div class="jumbotron">
                <div class="container">
                    @if (!Model.ElementAt(0).Name.Equals("SEARCH NAME RESULT"))
                    {
                        <a class="searchHome" style="cursor:pointer"><img src="~/images/search.png" /><span>search</span></a><br /><br />
                    }
                    <a href="~/Home/Index"><img src="~/Img/Home-512.png" /><span>home</span></a><br /><br />
                    @if (!Model.ElementAt(0).Name.Equals("SEARCH DISTANCE RESULT"))
                    {
                        <a class="searchAdjust" style="cursor:pointer"><img src="~/images/adjust.png" /><span>adjust</span></a>
                    }

                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <ul style="margin-top:-450px;">
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <h3>@Html.ActionLink("Create New", "Create")</h3>
                    }
                    foreach (var b in Model)
                    {

                        if (!b.Name.Equals("SEARCH DISTANCE RESULT") && !b.Name.Equals("SEARCH NAME RESULT"))
                        {

                            <li style="display:flex; align-items:center">
                                <img src="@b.ImageUrl" />
                                <a style="color:black;font-size:25px;margin:30px;" href="~/CoffeBar/Details/@b.Id">Name: @b.Name</a>
                                <h3 style="margin:30px">Rating: @b.Rating⭐ out of 5⭐</h3>
                                <h3 style="margin:30px">Distance(to center): @b.Distance m</h3>
                                <button class="btn btn-default"><a style="color:black;" href="~/Account/AddToFavourites/@b.Id">Favourite</a></button>
                                <br /><br />
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink(" Edit", "Edit", new { id = b.Id })
                                        @Html.ActionLink("  Delete", "Delete", new { id = b.Id })
                                    }
                                }
                            </li>

                        }
                        <hr />

                    }
                }



            </ul>
        </td>


    </tr>
</table>

@section Styles {
    <link href="@Url.Content("~/Scripts/sortedStyle.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script>
        var search = $(".searchHome");
        search.click(function () {
            bootbox.prompt("Search by name",
                function (result) {
                    window.location.href = '@Url.Action("SearchByName", "CoffeBar")/' + result;
                });
        });

        var search = $(".searchAdjust");
        search.click(function () {
            bootbox.prompt("Enter distance",
                function (result) {
                    window.location.href = '@Url.Action("SearchByDistance", "CoffeBar")/' + result;
                });

        });
    </script>
}